<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
  <tr>
    <td><%= @landmark.name %></td>
    <td><%= @landmark.year_completed %></td>
    <td>
      <form action='/landmarks/<%= @landmark.id %>/edit' method='get'>
        <input type="submit" value="Edit">
      </form>
    </td>
  </tr>
<table>
